<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form Schedule</title>
</head>
<body>
<div>
    <h1>Form đăng ký</h1>
    <form action="{{ url_for('form_schedule')}}" method="POST" style="text-align: center">
       <div>
            <label>Config </label> <span>
            <textarea name="config_file" id="config_file" rows="40" cols="80" placeholder="Nhập file config" ></textarea>
            </span>
        </div>
        <div>
            <select id="selectTag" for="time_set">
                <option value="EVD" name="EVD">Thời gian thực thi hàng ngày(h)</option>
                <option value="EVT" name="EVT">Khoảng thời gian thực thi(s)</option>
            </select>
            <input type="text" id="time_set" name="time_set">
            <input id="time_set_hidden" name="time_set_hidden" value='{"EVT":[], "EVD":[]}' hidden="hidden">
            <span>
            <input type="button" value="+" onclick="add()">
            </span>
        </div>
        <button type="submit" onclick="add();">Lưu</button>
    </form>
</div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    function add() {
        // lấy giá trị của select
        var selectValue = document.getElementById("selectTag").value;

        // Lấy data đã lưu trước
        time_set_hidden = document.getElementById("time_set_hidden").value;
        time_set_hidden_value = JSON.parse(time_set_hidden);

        // lấy giá trị của input
        var time_set = document.getElementById("time_set").value.trim();

        if (time_set !== ""){
            time_set_hidden_value[selectValue].push(time_set);
        }

        document.getElementById("time_set_hidden").value = JSON.stringify(time_set_hidden_value);
        document.getElementById("time_set").value = "";
     }
</script>
<style>
    body {
       padding-top: 50px;
       text-align: center;
       background-color: lightblue;
       color: darkblue;
       width: auto, auto;
       front-size: 18
   }
    label {
        display: flex;
        justify-content: center;
    }
</style>