<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content">
    <h1 style="text-align: center;">Form đăng ký</h1>
    <form action="{{ url_for('form_schedule')}}" method="POST" style="text-align: center" name="myForm">
        <div>
            <label>Tên dịch vụ</label>
            <span>
                 <input id="service_name" name="service_name" type="text" placeholder="Nhập tên dịch vụ" required
                        value="{{ service_name }}"/>
          </span>
            <label> Config </label>
            <span>
                <textarea name="config_file" id="config_file" rows="36" cols="60"
                          placeholder="Nhập nội dung của bạn trong [...] nhé" required>{{ config_file }}</textarea>
          </span>
        </div>

        <div>
            <label>
                <table id="dataTable" style="text-align: left; width: 800px">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
            </label>
        </div>

    </form>
</div>

</body>
</html>